@model IEnumerable<Assignment1.Models.Flight>

@{
  ViewData["Title"] = "Search Results";
}

<h2>Search Results</h2>

<div class="container" id="searchResults">
  <partial name="_SearchResults" model="@Model" />
</div>
